[submodule "BiternionNets-ROS"]
	path = BiternionNets-ROS
	url = https://github.com/sbreuers/BiternionNets-ROS.git
[submodule "skeletons_cnn_pytorch"]
	path = skeletons_cnn_pytorch
	url = https://git.rwth-aachen.de/Stefan.Breuers/skeletons_cnn_pytorch
[submodule "general_smoother"]
	path = general_smoother
	url = https://git.rwth-aachen.de/Stefan.Breuers/general_smoother
